.container {
  padding: 1.5rem 2rem;
  background-color: #282c34;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .logo {
  font-size: 1.5rem;
  margin: 8px;
  color: white;
}

.container .btn {
  background-color: #61dafb;
  border: none;
  color: black;
  font-weight: bold;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.container .btn:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.container .profile p {
  margin: 0;
}
